body {
    font-family: Arial, sans-serif;
    background-color: #024;
    color: #ddd;
    margin: 2rem 5rem;
}

#bucketList {
    display: grid;
    grid-template-columns: 1fr 2rem 5rem;
    grid-auto-rows: auto;
    max-width: 30rem;

    .activity {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
        margin: 0 0 1rem 2rem;
    }

    .category
    {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
    }
}