body {
    font-family: Arial, sans-serif;
    background-color: #024;
    color: #ddd;
    margin: 2rem 5rem;
}

#bucketList {
    div {
        display: grid;
        grid-template-columns: auto auto 5rem;
    }
}

.activity {
    margin: 0 0 1rem 2rem;
}